name: Build BrightinTosh

permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to create'
        default: '1.0'
        required: true
        type: string

env:
  LEVEL: ${{ inputs.version }}

jobs:   
  build-macos:
    runs-on: macos-26
    
    steps:
    - uses: actions/checkout@v4

    - name: xcodebuild
      run: |
        sudo xcode-select -s /Applications/Xcode_26.2.app
        xcodebuild \
        -scheme "BrightIntosh" \
        -project "BrightIntosh.xcodeproj" \
        -configuration "Release" \
        -sdk macosx26.2 \
        CODE_SIGN_IDENTITY="" \
        CODE_SIGNING_REQUIRED=NO \
        CODE_SIGNING_ALLOWED=NO \
        -derivedDataPath "build" \
        ARCHS="arm64 x86_64" \
        ONLY_ACTIVE_ARCH=NO \
        build
        cd build/Build/Products/release
        ditto -c -k --keepParent BrightIntosh.app BrightIntosh.zip
        

    - name: Create GitHub Draft
      uses: softprops/action-gh-release@v1
      with:
        tag_name: v${{ env.LEVEL }}
        name: DeskPad v${{ env.LEVEL }}
        draft: true
        prerelease: false
        files: build/Build/Products/release/BrightIntosh.zip
